<link rel="stylesheet" href="/public/css/pages/info/index.min.css">
<div class="main-content">

   <div class="info">

   <h1>Немного истории о нас:</h1>
        <p>
            Компания Victory Computers была зарегистрирована в 1992 году под названием ТОО НПФ "Виктори". <br>
            В 1994 году компания вошла в ассоциацию научно-производственных фирм Республики Казахстан "КАЗМЕДсервис" и поставляла компьютерное медицинское оборудование с дальнейшей пусконаладкой, гарантийным и постгарантийным обслуживанием. <br>
            <a href="/uploads/images/VHistory_1994.jpg" target="_blank">Мы в журнале "Здравоохранение Казахстана" N2 1994 года.</a><br>
            В 1996 году компания была полностью переориентирована на оптовую поставку и продажу компьютерных комплектующих, чем мы и занимаемся для Вас по сей день. <br>
            <a href="/uploads/images/VHistory_1997.jpg" target="_blank">Мы в первой компьютерной газете Казахстана.</a><br>
            <a href="/uploads/images/VHistory_1998.jpg" target="_blank">Наш прайс-лист от 13 Мая 1998 года. </a><br>
            Мы на компьютерной выставке KITEL 1998 год: <a href="/uploads/images/VHistory_KITEL_1998.jpg" target="_blank">На плане</a>, <a href="uploads/images/VHistory_KITEL_1998(2).jpg" target="_blank">В каталоге</a>.<br>
            Мы на компьютерной выставке KITEL 1999 год: <a href="/uploads/images/VHistory_KITEL_1999.jpg" target="_blank">На плане</a>, <a href="uploads/images/VHistory_KITEL_1999(2).jpg" target="_blank">В каталоге</a>.<br>
            Мы в журнале Com & Com, март, 1999 года.
            <a href="/uploads/images/VHistory_Gazeta(1).jpg" target="_blank">Стр 3</a>,
            <a href="/uploads/images/VHistory_Gazeta(2).jpg" target="_blank">Стр 22</a>,
            <a href="/uploads/images/VHistory_Gazeta(3).jpg" target="_blank">Стр 23</a>,
            <a href="/uploads/images/VHistory_Gazeta(4).jpg" target="_blank">Стр 24</a>,
            <a href="/uploads/images/VHistory_Gazeta(5).jpg" target="_blank">Стр 25</a>.
        </p>
    </div>

    <div class="info">

    <h1>Мы сейчас:</h1>

    <div class="left-a">
        <div class="house">
            <img src="/uploads/images/aboutD1.jpg" id="entrance">
        </div>
    </div><div class="right-a">
        <div class="card">
        <h2>
        C июля 2011 года, мы находимся по адресу: г. Алматы, ул. Багратиона, 4.<br>
        В 8.30 утра наши менеджеры готовы обслужить первого клиента.<br>
        Мы работаем без обеда до 17.30.<br>
        Наш офис удачно расположен между крупных транспортных развязок. Используя ВОД, можно очень быстро доехать до нашего офиса из верхних районов города.<br>
        Мы держим складские помещения с товаром. Если на сайте указано в наличии, то данный товар имеется по адресу Багратиона 4 и цены является актуальной. Мы также можем работать под заказ, за большей информацией обращайтесь по телефону: <br> 8 (727) 380-77-89
        </h2>
        </div>
        </div>
    </div>

    <div class="info">
    <img src="/uploads/images/aboutD2.jpg" class="image-house-2" id="side_look">
    </div>

</div>
