<link rel="stylesheet" href="/public/css/pages/info/index.min.css">
  <div class="main-content">
    <div class="info" id="Best_Price">
        <h1>Гарантия лучшей цены!</h1>
        <li>Victory computers это более 22-х лет успешной оптовой продажи компьютерных комплектующих на территории Казахстана и Кыргызстана.</li>
        <li>Мы следим за тенденциями рынка и стараемся предоставить лучшие цены на компьютерные комплектующие как оптом, так и в розницу.</li>
        <li>Мы гарантируем лучшую цену на новый компьютер, без операционной системы.</li>
        <li>Если Вы нашли идентичную конфигурацию, похожую конфигурацию или хотите собрать конфигурацию идентичную другого магазина, Вы можете написать на почту: sales@victory.kz и мы предсоставим более выгодную цену на готовый ПК.</li>
    </div>
    <div class="info" id="">
        <h1>Системные блоки от "Victory computers"</h1>
        <p>&emsp;“Victory computers” осуществляет сборку системных блоков исключительно из новых и качественных комплектующих.</p>
        <p>&emsp;Комплектующие собранные в корпус не являются компьютером, являются системным блоком.</p>
        <p>&emsp;Пломба на корпусе, подразумевает наличия комплектующих согласно гарантийному талону.</p>
        <p>&emsp;Гарантия осуществляется по отдельности на каждое комплектующие согласно срокам гарантии, указанным в гарантийном талоне. Поиском неисправностей в наборе комплектующих, сервис центр не занимается. Гарантию на совместимость компонентов не несет. В сервис приносить исключительно по отдельности каждое комплектующее в родной упаковке.</p>
        <p>&emsp;Тестирование рабочих комплектующих платное.</p>
    </div>
</div>
