<div class="main-content horizontal">
    <div id="map" class="card map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1266.5575528791312!2d76.93914717462788!3d43.289384891830366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8f596e31f3bfdf45!2sVictory!5e0!3m2!1sru!2sru!4v1473344008948" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="card contact-info">
        <div class="card-content">
            <p align="center"><b>VICTORY Computers</b> – оптовые и розничные<br> поставки комплектующих.</p>
            <p align="center">Доставка товара во все регионы Казахстана.</p>
            <p><b>Адрес:</b> г. Алматы, ул. Багратиона, 4 <b>Индекс:</b> 050050</p>
            <p>
                Вид с улицы на <a ui-sref="static({page:'about'})" target="_blank">наше здание</a>
                и <a ui-sref="static({page:'about'})" target="_blank">входную группу</a>.
            </p>
            <p>
                <b>Время работы:</b><br>
                С 8:30 до 17:30  <b> <text style="color: #61cf80; font-size:18px">(Без перерыва)</text></b>
            <p>
                <b>Не рабочие дни:</b><br>
                <a target="_blank" href="https://uchet.kz/week/kak-otdykhaem-v-2018-godu/">Выходные и праздничные дни на 2018 год</a>.
            <p
                <b> Торговый отдел/Факс:</b> 8 (727) 380-77-89 <br>
                <b> Торговый отдел мобильный:</b> 8 (771) 855-60-87<br>
                <b> Сервис центр/Факс:</b> 8 (727) 386-38-76 <br>
            </p>
            <p>
                <b> E-mail: </b><a href="mailto:sales@victory.kz">sales@victory.kz</a>
            </p>
        </div>
    </div>
</div>

<div class="contacts">
    <div class="info">
        <h1>Дополнительная контактная информация:</h1>
        <p>
            <b>Skype: </b><a href="skype:ira_vic?chat">ira_vic</a><br>
            <b>ICQ/Agent:</b> 622363220<br>
            <b>Доп. Торговый отдел:</b> 8 (727) 390-23-89<br>
            <b>Тел.:</b> 8 (727) 384-01-88<br>
            <b>Сот.:</b> 8 (777) 67-67-666<br>
        </p>
    </div>

    <div class="info">
        <h1> Коммерческие предложения, пожелания, жалобы:</h1>
        <p>
            <b> Алексей - </b> специалист по развитию бизнеса.
        </p>
        <p>
            <b>Тел.:</b> 8 (727) 380-77-89 (Внутренний: 124)<br>
            <b>E-mail: </b><a href="mailto:alexey@victory.kz">alexey@victory.kz</a><br>
        </p>
    </div>

    <div class="info">
        <h1>Данные о плательщике НДС - Victory Computers</h1>
        <p>
            Все счета от Victory Computers имеют ИИН/БИН 030240007465, подтверждающий, что наша компания плательщик НДС и официально стоит на учёте НДС.<br>
            Ссылка на портал Комитета государственных доходов Министерства финансов Республики Казахстан:<br>
            <a href="http://kgd.gov.kz/ru/services/ndspayer_search" target="_blank">http://kgd.gov.kz/ru/services/ndspayer_search</a><br>
            Данные для проверки нашей компании: ИИН/БИН 030240007465 РНН 091300210836<br>
            Результат поиска будет: <a href="/public/files/VC_Egov.pdf" target="_blank">Данные о плательщике НДС - Victory Computers.pdf</a>
        </p>
    </div>
</div>
